.main {
  font-family: "Marker Felt";
  color: white;
}

.button:hover {
  background-color: #b8860b;
}

.topContentContainer {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: white;
}

@media (max-width: 768px) {
  .packages {
    flex-direction: column;
    height: auto;
    align-content: center;
  }

  .packagesLeft,
  .packagesCenter,
  .packagesRight {
    width: 100%;
  }

  .packagesLeft {
    text-align: center;
  }
}
.packagesCenter {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.packagesRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.packageBox {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-style: solid;
  border-width: 0.0000001px;
  border-color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .packages {
    flex-direction: column;
    height: auto;
    align-content: center;
  }

  .packagesLeft,
  .packagesCenter,
  .packagesRight {
    width: 100%;
  }

  .packagesLeft {
    text-align: center;
  }
}

.image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  clip-path: ellipse(40% 49% at 50% 50%);
  align-self: center;
}

.aboutLeft {
  display: flex;
  flex-direction: column;
}

.aboutRight {
  display: flex;
  flex-direction: column; /* center content in a column */
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
  }

  .aboutLeft {
    width: 100%;
  }

  .aboutRight {
    display: flex;
    flex-direction: column; /* center content in a column */
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .image {
    align-self: center;
    margin-top: 50px;
  }
  .button {
    width: 100%;
  }
}

.yellowSection {
  height: 200vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 5px auto; /* Updated line */
  background-color: rgb(219, 197, 2);
}



.yellow {
  background-color: rgb(210, 173, 10);
}

.gallery {
  height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  align-items: center;
}
.photos {
  width: 100%;
  display: flex;
  margin: 20px;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
}

.galleryImage {
  border-radius: 100px;
  border-style: solid;
  max-width: 100%;
  height: auto;
}


.profileContainer {
  display: flex;
  flex-direction: row;
}

.blueSection {
  height: 200vh;
  position: relative;
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-direction: column;
  background-color: #89cff0;
}

.reviewSection {
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reviews {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.reviewBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  border-style: solid;
  padding: 20px;
  border-width: 0.0000001px;
  border-color: rgb(255, 255, 255);
  word-wrap: break-word;
}

@media only screen and (max-width: 768px) {
  .reviews {
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start; /* change to flex-start to align header and boxes at the top */
    align-items: center;
  }

  .reviewsHeader {
    display: block; /* ensure header is visible */
  }

  .reviewBox {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    word-wrap: break-word;
  }
}

@media (max-width: 768px) {
  .packages {
    flex-direction: column;
    height: auto;
    align-content: center;
  }

  .packagesLeft,
  .packagesCenter,
  .packagesRight {
    width: 100%;
  }

  .packagesLeft {
    text-align: center;
  }
}

.bookNow {
  height: 150vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.pinkSection2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 150vh;
  background-color: #de68d6df;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.formHeader {
  text-align: center;
  padding: 20px;
  width: 100%;
}

.form{
  width: 90%;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.formLeft {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 50%;
}

.formRight {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 50%;
}

.formInput {
  border-radius: 10px;
  align-self: center;
  padding: 5px;
  background-color: white;
  color: grey;
  margin: 5px;
  width: 100%;
}

.formTextArea {
  border-radius: 10px;
  padding: 5px;
  align-self: center;
  background-color: white;
  color: grey;
  width: 100%;
  margin: 5px;
}

.otherButton {
  display: block;
  border-radius: 20px;
  background-color: #89cff0;
  color: white;
  padding: 10px;
  align-self: center;
  justify-self: center;
  margin: 0 auto;
  width: 50%;
  
}

@media only screen and (max-width: 738px) {
  .form{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .formContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .formLeft{
    margin: 0;
    width: 100%;
  }
  .formRight{
    margin: 0;
    width: 100%;
  }
  .formTextArea {
    border-radius: 10px;
    padding: 5px;
    align-self: center;
    background-color: white;
    color: grey;
    width: 100%;
    
  }
  
}



