.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: rgb(228, 42, 240);
  background: linear-gradient(
    0deg,
    rgba(228, 42, 240, 1) 0%,
    rgba(239, 255, 39, 1) 49%,
    rgba(38, 238, 236, 0.9500175070028011) 100%
  );
}

.top {
  flex: 3;
  width: 100%;
  height: auto;
  justify-content: center;
  text-align: center;
  margin: 50px;
  padding: 10px;
}

.box {
  padding: 30px;
  border-style: solid;
  border-width: 0.3px;
  border-color: white;
  width: 100%;
}
.profileContainer {
  display: flex;
  flex-direction: row;
}

.packages {
  display: flex;
  flex: 1;
  margin: 50px;
  padding: 10px;
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
  flex-direction: row;
}
.packagesLeft {
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.packagesCenter {
  display: flex;
  flex-direction: column;
}

.packagesRight {
  flex-direction: row;
}

.about {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.image {
  box-shadow: 0 0 0 10px #fff;
}

.aboutLeft {
  flex-direction: column;
  justify-content: center;
}

.commitment {
  text-align: center;
  margin: 5px;
  padding: 5px;
}
.questions {
  width: 100%;
}
.accordion {
  width: 90%;
  margin: 10px;
  padding: 5px;
  background-color: yellow;
}

.yellow {
  background-color: yellow;
}
.gallery {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  align-items: center;
}
.photos {
  width: 100%;
  display: flex;
  margin: 20px;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
}

.galleryImage {
  border-radius: 100px;
  border-style: solid;
}

.button {
  border-radius: 20px;
  background-color: #ffd700;
  color: white;
  padding: 10px;
}

.otherButton {
  border-radius: 20px;
  background-color: #89cff0;
  color: white;
  padding: 10px;
}

.bookNow {
  width: 100%;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.formHeader {
  text-align: center;
}

.form {
  display: flex;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-around;
  border-top: white;
  width: fill;
  border-top-width: 1px;
  border-top-style: solid;
}

.bottomIcon {
  size: "10x";
}

.formInput {
  border-radius: 20px;
  background-color: white;
  color: grey;
  margin: 5px;
}

.formTextArea {
  border-radius: 20px;
  background-color: white;
  color: grey;
  width: 100%;
  margin: 10px;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 10px;
}
.formLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px;
}

.formRight {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px;
}

.video {
  opacity: 60%;
  width: 100%;
}

.logo{
  background: transparent
}