.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(255, 0, 255, 1)
}

.top {
  width: 100%;
  height: auto;
  justify-content: center;
  text-align: center;
}

.videoContainer {
  position: relative;
  width: "100%";
  height: "100%";

}

.videoContainer::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px; /* adjust the height to your liking */
  background-image: linear-gradient(to bottom, rgba(255,0,255,.1), rgba(255,0,255,1));
}

.button {
  border-radius: 20px;
  border-style: none;
  background-color: #ffd700;
  color: white;
  padding: 10px;
}

.button:hover {
  background-color: #b8860b;
}

.topContentContainer {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: white;
}

.box {
  padding: 30px;
  border-style: solid;
  border-width: 0.3px;
  border-color: white;
}


.packages {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  text-align: center;
  justify-content: center;
  flex-direction: row;
}
.packagesLeft {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  text-align: left;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.packagesCenter {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.packagesRight {
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: row;
  
}

.about {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.profileContainer {
  display: flex;
  flex-direction: row;
}
.image {
  box-shadow: 0 0 0 10px #fff;
}

.aboutLeft {
  flex-direction: column;
  justify-content: center;
}

.commitment {
  text-align: center;
  margin: 5px;
  padding: 5px;
}
.questions {
  width: 100%;
}
.accordion {
  width: 90%;
  margin: 10px;
  padding: 5px;
  background-color: yellow;
}

.yellow {
  background-color: yellow;
}
.gallery {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  align-items: center;
}
.photos {
  width: 100%;
  display: flex;
  margin: 20px;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
}

.galleryImage {
  border-radius: 100px;
  border-style: solid;
}



.otherButton {
  border-radius: 20px;
  background-color: #89cff0;
  color: white;
  padding: 10px;
}

.bookNow {
  width: 100%;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.formHeader {
  text-align: center;
}

.form {
  display: flex;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-around;
  border-top: white;
  width: fill;
  border-top-width: 1px;
  border-top-style: solid;
}

.bottomIcon {
  size: "10x";
}

.formInput {
  border-radius: 20px;
  background-color: white;
  color: grey;
  margin: 5px;
}

.formTextArea {
  border-radius: 20px;
  background-color: white;
  color: grey;
  width: 100%;
  margin: 10px;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 10px;
}
.formLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px;
}

.formRight {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px;
}

.logo {
  background: transparent;
}
